.admin {
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 250px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 10px;
    
}

.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%; 
}

.sidebar ul li {
    width: 230px;
    height: 45px;
    margin: 3px 0;
    display: flex;
    align-items: center; 
    cursor: pointer;
    color: white;
    border-radius: 10px;
    transition: background 0.3s;
    padding-left: 10px;
}

.sidebar ul li:hover {
    background-color: #444;
}



.logout {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    background-color: #ff4081;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


  .content {
    flex: 1;
    padding: 20px;
  }
  